<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Edit Vehicle</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f2f2f2;
                margin: 0;
                padding: 0;
            }

            h2 {
                background-color: #333;
                color: #fff;
                padding: 10px;
            }

            table {
                border-collapse: collapse;
                width: 100%;
                margin: 20px auto;
                background-color: #fff;
            }

            th,
            td {
                border: 1px solid #ccc;
                padding: 8px;
                text-align: center;
            }

            th {
                background-color: #333;
                color: #fff;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            a {
                text-decoration: none;
                color: #007bff;
            }

            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <h2>利用者リスト</h2>
        <!-- edit.ejs -->
        <table>
            <tr>
                <th>氏名</th>
                <th>ひらがな</th>
                <th>住所</th>
                <th>電話番号</th>
                <th>利用開始日</th>
                <th>利用終了予定日</th>
            </tr>
            <% carusers.forEach(function(caruser) { %>
                <tr>
                    <td>
                        <%= caruser.name %>
                    </td>
                    <td>
                        <%= caruser.hiragana %>
                    </td>
                    <td>
                        <%= caruser.address %>
                    </td>
                    <td>
                        <%= caruser.phoneNumber %>
                    </td>
                    <td>
                        <%= caruser.startDate %>
                    </td>
                    <td>
                        <%= caruser.endDate %>
                    </td>
                </tr>
                <% }); %>
        </table>
    </body>
</html>
