<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>vehicles List</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f2f2f2;
                margin: 0;
                padding: 0;
            }

            h2 {
                background-color: #333;
                color: #fff;
                padding: 10px;
            }

            table {
                border-collapse: collapse;
                width: 100%;
                margin: 20px auto;
                background-color: #fff;
            }

            th,
            td {
                border: 1px solid #ccc;
                padding: 8px;
                text-align: center;
            }

            th {
                background-color: #333;
                color: #fff;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            a {
                text-decoration: none;
                color: #000;
            }

            a:hover {
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <h2>レンタカーDB一覧</h2>
        <table>
            <tr>
                <th>購入日</th>
                <th>車種</th>
                <th>次回車検日</th>
                <th>走行距離</th>
                <th>次回メンテナンス日</th>
                <th>メンテナンス者</th>
            </tr>
            <% vehicles.forEach(function(vehicle) { %>
                <tr>
                    <td>
                        <%= vehicle.purchase_date.getFullYear() %>-<%= (vehicle.purchase_date.getMonth() + 1).toString().padStart(2, '0' ) %>-<%= vehicle.purchase_date.getDate().toString().padStart(2, '0' ) %>
                    </td>
                    <td>
                        <a href="/edit/<%= vehicle.car_model %>"><%= vehicle.car_model %></a>
                    </td>
                    <td>
                        <%= vehicle.next_inspection_date.getFullYear() %>-<%= (vehicle.next_inspection_date.getMonth() + 1).toString().padStart(2, '0' ) %>-<%= vehicle.next_inspection_date.getDate().toString().padStart(2, '0' ) %>
                    </td>
                    <td>
                        <%= vehicle.mileage %>
                    </td>
                    <td>
                        <%= vehicle.next_maintenance_date.getFullYear() %>-<%= (vehicle.next_maintenance_date.getMonth() + 1).toString().padStart(2, '0' ) %>-<%= vehicle.next_maintenance_date.getDate().toString().padStart(2, '0' ) %>
                    </td>
                    <td>
                        <%= vehicle.maintenance_responsible %>
                    </td>
                </tr>
                <% }); %>
        </table>
        <!--<table>
            <tr>
                <th>車種</th>
                <th>氏名</th>
                <th>ひらがな</th>
                <th>住所</th>
                <th>電話番号</th>
                <th>利用開始日</th>
                <th>利用終了予定日</th>
            </tr>
            <% carusers.forEach(function(caruser) { %>
                <tr>
                    <td>
                        <%= caruser.caruserscol %>
                    </td>
                    <td>
                        <%= caruser.name %>
                    </td>
                    <td>
                        <%= caruser.hiragana %>
                    </td>
                    <td>
                        <%= caruser.address %>
                    </td>
                    <td>
                        <%= caruser.phoneNumber %>
                    </td>
                    <td>
                        <%= caruser.startDate %>
                    </td>
                    <td>
                        <%= caruser.endDate %>
                    </td>
                </tr>
                <% }); %>
        </table>-->
    </body>
</html>
